@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0 0px;
    font-family: 'Nunito', sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#5C0051;
    padding:10px 50px;
    color:#FFFFFF;
}

nav .menu{
    width:35px;
    height:28px;
    cursor: pointer;
}

.menu .bar{
    height:5px;
    width:100%;
    background-color:#FFFFFF;
    display:block;
    border-radius: 5px;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}

.menu #first-bar{
    transform: translateY(2px)
}

.menu #second-bar{
    transform: translateY(6px)
}

.menu #third-bar{
    transform: translateY(10px)
}

.logo-section{
   
}

.logo-section img{
    width:50px;
}

ul.nav-list{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width:500px;
    cursor: pointer;
}

ul.nav-list li.nav-item:hover{
    color: #e9a8ed;
}

.hero-section{
    position: relative;
}
.hero-section video.hero-video{
    height:100%;
    width:100%;
}

.hero-caption{
    position: absolute;
    background-color:rgba(216, 177, 216, 0.5);
    top:0%;
    left:0%;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1.store-title{
    font-family: 'Averia Serif Libre', cursive;
    font-size: 80px;
    margin-top:0;
    margin-bottom:0;
    color:#5C0051;
    letter-spacing: 12px;
    text-align:center;
}

p.tagline{
    margin-top:0;
    margin-bottom:0;
    font-family: 'Caveat', cursive;
    font-size:25px;
    font-weight: 700;
    color:#5C0051;
    text-align:center;
}

.button-container button{
    margin-top:50px;
    background-color: #5C0051;
    width:250px;
    border:none;
    height:50px;
    color:#FFFFFF;
    font-size:18px;
    border-radius:25px;
    cursor:pointer;
    outline: transparent;
    transition: all .5s ease-in-out;
}

.button-container button:hover{
    background-color: #e9a8ed;
    color: #5C0051;
}

.product-section{
    padding:50px 50px;
    background-color: #5C0051;
}

.product-header{
    text-align:center;
}

.product-header h1{
    color: #FFFFFF;
    font-size:32px;
    margin-bottom:0px;
}

.product-header p{
    color: #FFFFFF;
    font-size:18px;
    margin-top:0;
}

.search-container{
    text-align:center;
    margin-top:40px;
}

.search-container form input[type="text"]{
    border:3px solid #e9a8ed;
    height:40px;
    width:50vw;
    border-radius:5px;
    padding-left:10px;
    color: #5C0051;
    outline: transparent;
    font-weight:500;
}

.search-container form input[type="text"]::placeholder{
    color: #5C0051;
    font-size:17px;
    font-weight:500;
}

.search-container form input[type="text"]:focus{
    color: #5C0051;
    font-size:16px;
    outline: transparent;
    font-weight:500;
}

.search-container form button{
    width:10vw;
    background-color: #e9a8ed;
    border:none;
    height:40px;
    color: #5C0051;
    font-size:18px;
    border-radius:5px;
    cursor:pointer;
    outline: transparent;
}

.product-list-container{
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(4, 1fr);
    grid-gap:20px; */
    margin:0 auto;
    margin-top:10vh;
    align-items: center;
}

.product-item{
    background-color: #FFFFFF;
    border:5px solid #e9a8ed;
    max-width:310px;
    flex: 1 0 auto;
    margin: 0 auto;
    margin-bottom:40px;
    /* padding:20px; */
    cursor:pointer;
    border-radius:25px;
    transition: all .2s linear;
    padding-top:20px;
}

.product-item:hover{
    transform: scale(1.03);
    
}

.product-item .image-container{
    width:100%;
    height:300px;
    position: relative;
    padding-left:20px;
    padding-right: 20px;
    padding-bottom:20px;
}

.product-item .image-container .add-icon{
    position: absolute;
    top:2%;
    right:5%;
}

/* .product-item .image-container .add-icon .add-text{
    background-color: #5C0051;
} */

.product-item .image-container .add-icon img{
    width:50px;
}

.product-item .image-container img{
    width:100%;
    height:100%;
    object-fit: contain;
   
}

.product-item .content{
    background-color:#e9a8ed;
    padding:20px;
    color:#5C0051;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius:0 0 19px 19px;
}

/* .product-item .content .sub-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.product-item .content p{
    margin-bottom:0 !important;
}

.product-item .content p.title{
    font-size:18px;
    font-weight:600;
}
.product-item .content p.category{
    font-size:15px;
    font-style: italic;
}

.product-item .content p.price{
    font-size:25px;
    font-style: normal;
    font-weight: 800;
    float: right;
    clear: both;
}

.category-container{
    display: flex;
    /* justify-content: space-around; */
    overflow: auto;
    margin-top:50px;
}

.category-container::-webkit-scrollbar{
    display:none;
}

.category-container .category-item{
    display: flex;
    align-items: center;
    background-color: #e9a8ed;
    padding-left:10px;
    padding-top:8px;
    padding-bottom:8px;
    width:250px;
    border-radius:10px;
    cursor: pointer;
    flex:0 0 auto;
    margin-right:80px;
}

.category-container .category-item:last-of-type{
    margin-right:0px;
}

.category-container .category-item:hover{
    transform: scale(1.02);
    /* transition:  .2s ease-out; */
}

.category-container .category-item img{
    width:50px;
    background-color: #5C0051;
    border-radius: 50%;
    padding:5px;
}

.category-container .category-item p{
    color: #5C0051;
    font-weight:600;
    margin-left:20px;
    font-size:18px;
}

@media(max-width:1115px){
    .category-container .category-item{
        margin-right:50px;
    }
}


@media(max-width:990px){
    .search-container form input[type="text"]{
        width:70%;
    }
}

@media(max-width:730px){
    h1.store-title{
        font-size: 60px;
        letter-spacing: 12px;
    }
    
    .search-container form input[type="text"]{
        width:100%;
    }
}


@media(max-width:560px){
    h1.store-title{
        font-size: 50px;
        letter-spacing: 9px;
    }

    .product-section{
        padding:50px 30px;
        background-color: #5C0051;
    }  
}

@media(max-width:450px){
    .product-item{
        max-width:100%;
    }  
}

@media(max-width:435px){
    h1.store-title{
        font-size: 40px;
        letter-spacing: 7px;
    }
    
    .button-container button{
        margin-top:30px;
    }
    
}